:root {
    /* Primary Colors */

    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* Neutral Colors */
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);

    /* Typography */
    --ff-base: 'Lexend Deca', sans-serif;
    --ff-heading: 'Big Shoulders Display', cursive;

    --fw-regular: 400;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

body {
    font-size: 0.9375rem;
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    background-color: var(--very-light-gray);

    display: grid;
    place-items: center;
    min-height: 100vh;
}


/* FOOTER */
.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 10px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}